@page
@using EndPoint.Areas.Administration.Pages
@model IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">داشبورد </h4>
    </div>
</div>
<h1 class="text-success text-center">خوش امدی کمیل محسنی</h1>