<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Mazafati Date Bazaar | @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Theme/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Theme/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Theme/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Theme/css/style.css" rel="stylesheet">

    @RenderSection("Styles", false)
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-primary py-3 d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="~/Theme/">Help</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Administration/index" class="text-white px-3">Admin</a>
                        }
                    </div>
                </div>
                <div class="col-md-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="text-white px-3" href="~/Theme/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-white px-3" href="~/Theme/">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-white px-3" href="~/Theme/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-white px-3" href="~/Theme/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="text-white pl-3" href="~/Theme/">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow p-lg-0">
                <a href="~/Theme/index.html" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0  text-primary"><span class="text-secondary">Mazafati </span>Date</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        <a href="/index" class="nav-item nav-link active">Home</a>
                        <a href="/Products" class="nav-item nav-link">Product</a>
                        <a href="/about" class="nav-item nav-link">About</a>
                    </div>
                    <a href="~/Theme/index.html" class="navbar-brand mx-5 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary"><span class="text-secondary">Mazafati </span>Date Bazaar</h1>
                    </a>
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/Contact" class="nav-item nav-link">Contact</a>
                    </div>

                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    @RenderBody();

    <!-- Footer Start -->
    <div class="container-fluid footer bg-light py-5" style="margin-top: 90px;">
        <div class="container text-center py-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <a href="~/Theme/index.html" class="navbar-brand m-0">
                        <h3 class="m-0 mt-n2 text-primary"><span class="text-secondary">Mazafati </span>Date Bazaar</h3>
                    </a>
                </div>
                <div class="col-12 mb-4">
                    <a class="btn btn-outline-secondary btn-social mr-2" href="~/Theme/#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="~/Theme/#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-secondary btn-social mr-2" href="~/Theme/#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-secondary btn-social" href="~/Theme/#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-12 mt-2 mb-4">
                    <div class="row">
                        <div class="col-sm-6 text-center text-sm-right border-right mb-3 mb-sm-0">
                            <h5 class="font-weight-bold mb-2">Get In Touch</h5>
                            <p class="mb-2">123 Street, New York, USA</p>
                            <p class="mb-0">+012 345 67890</p>
                        </div>
                        <div class="col-sm-6 text-center text-sm-left">
                            <h5 class="font-weight-bold mb-2">Opening Hours</h5>
                            <p class="mb-2">Mon – Sat, 8AM – 5PM</p>
                            <p class="mb-0">Sunday: Closed</p>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p class="m-0">&copy; <a href="~/Theme/#">Domain</a>. All Rights Reserved. Designed by <a href="~/Theme/https://htmlcodex.com">HTML Codex</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <a href="https://wa.me/989124960967" class="btn-what"><img class="img-what" src="~/Theme/img/WhatsApp.png" /></a>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/lib/easing/easing.min.js"></script>
    <script src="~/Theme/lib/waypoints/waypoints.min.js"></script>
    <script src="~/Theme/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Theme/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Theme/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Theme/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Theme/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Theme/js/main.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>