/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.radial-bar {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background-color: transparent;
    border: 2px solid #fafafa;
    border-radius: 50%;
    box-sizing: content-box;
    display: inline-block;
    font-size: 16px;
    font-size: 18px;
    height: 80px;
    margin-bottom: 20px;
    position: relative;
    width: 80px;
}

.radial-bar:after,
.radial-bar > img {
    border-radius: 50%;
    color: #a1a2a3;
    display: inline-block;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
}

.radial-bar:after {
    background-color: #f0f0f0;
    content: attr(data-label);
    z-index: 101;
}

.radial-bar > img { z-index: 102; }

.radial-bar:after,
.radial-bar > img {
    height: 56px;
    line-height: 56px;
    margin-left: 12px;
    margin-top: 12px;
    width: 56px;
}

.radial-bar.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-50 { background-image: linear-gradient(270deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-55 { background-image: linear-gradient(288deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-60 { background-image: linear-gradient(306deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-65 { background-image: linear-gradient(324deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-70 { background-image: linear-gradient(342deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-75 { background-image: linear-gradient(360deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-80 { background-image: linear-gradient(378deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-85 { background-image: linear-gradient(396deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-90 { background-image: linear-gradient(414deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-95 { background-image: linear-gradient(432deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar.radial-bar-100 { background-image: linear-gradient(450deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-50 { background-image: linear-gradient(270deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-55 { background-image: linear-gradient(288deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-60 { background-image: linear-gradient(306deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-65 { background-image: linear-gradient(324deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-70 { background-image: linear-gradient(342deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-75 { background-image: linear-gradient(360deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-80 { background-image: linear-gradient(378deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-85 { background-image: linear-gradient(396deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-90 { background-image: linear-gradient(414deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-95 { background-image: linear-gradient(432deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-primary.radial-bar-100 { background-image: linear-gradient(450deg, #317eeb 50%, transparent 50%, transparent), linear-gradient(270deg, #317eeb 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-50 { background-image: linear-gradient(270deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-55 { background-image: linear-gradient(288deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-60 { background-image: linear-gradient(306deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-65 { background-image: linear-gradient(324deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-70 { background-image: linear-gradient(342deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-75 { background-image: linear-gradient(360deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-80 { background-image: linear-gradient(378deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-85 { background-image: linear-gradient(396deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-90 { background-image: linear-gradient(414deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-95 { background-image: linear-gradient(432deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-success.radial-bar-100 { background-image: linear-gradient(450deg, #33b86c 50%, transparent 50%, transparent), linear-gradient(270deg, #33b86c 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-50 { background-image: linear-gradient(270deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-55 { background-image: linear-gradient(288deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-60 { background-image: linear-gradient(306deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-65 { background-image: linear-gradient(324deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-70 { background-image: linear-gradient(342deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-75 { background-image: linear-gradient(360deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-80 { background-image: linear-gradient(378deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-85 { background-image: linear-gradient(396deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-90 { background-image: linear-gradient(414deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-95 { background-image: linear-gradient(432deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-info.radial-bar-100 { background-image: linear-gradient(450deg, #29b6f6 50%, transparent 50%, transparent), linear-gradient(270deg, #29b6f6 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-50 { background-image: linear-gradient(270deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-55 { background-image: linear-gradient(288deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-60 { background-image: linear-gradient(306deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-65 { background-image: linear-gradient(324deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-70 { background-image: linear-gradient(342deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-75 { background-image: linear-gradient(360deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-80 { background-image: linear-gradient(378deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-85 { background-image: linear-gradient(396deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-90 { background-image: linear-gradient(414deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-95 { background-image: linear-gradient(432deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-warning.radial-bar-100 { background-image: linear-gradient(450deg, #ffd740 50%, transparent 50%, transparent), linear-gradient(270deg, #ffd740 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-0 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-5 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-10 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-15 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-20 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-25 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-30 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-35 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-40 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-45 { background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-50 { background-image: linear-gradient(270deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-55 { background-image: linear-gradient(288deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-60 { background-image: linear-gradient(306deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-65 { background-image: linear-gradient(324deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-70 { background-image: linear-gradient(342deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-75 { background-image: linear-gradient(360deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-80 { background-image: linear-gradient(378deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-85 { background-image: linear-gradient(396deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-90 { background-image: linear-gradient(414deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-95 { background-image: linear-gradient(432deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-danger.radial-bar-100 { background-image: linear-gradient(450deg, #ef5350 50%, transparent 50%, transparent), linear-gradient(270deg, #ef5350 50%, #fafafa 50%, #fafafa); }

.radial-bar-lg {
    font-size: 20px;
    height: 100px;
    width: 100px;
}

.radial-bar-lg:after,
.radial-bar-lg > img {
    height: 70px;
    line-height: 70px;
    margin-left: 15px;
    margin-top: 15px;
    width: 70px;
}

.radial-bar-sm {
    font-size: 12px;
    height: 50px;
    width: 50px;
}

.radial-bar-sm:after,
.radial-bar-sm > img {
    height: 35px;
    line-height: 35px;
    margin-left: 7.5px;
    margin-top: 7.5px;
    width: 35px;
}

.radial-bar-xs {
    font-size: 8px;
    height: 30px;
    width: 30px;
}

.radial-bar-xs:after,
.radial-bar-xs > img {
    height: 21px;
    line-height: 21px;
    margin-left: 4.5px;
    margin-top: 4.5px;
    width: 21px;
}

.radial-bar { background-clip: content-box; }